

main{
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside.kiri, aside.kanan {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

aside.kiri {
    margin-right: 10px;
}

aside.kanan {
    margin-left: 10px;
}

article, form, section {
    margin-bottom: 20px;
}





form{
    background-color: cadetblue;
    padding: 12px;
}

.kiri{
    padding-right: 5%;
}

.Kelamin{
    margin-bottom: 25px;
}

.kg{
    margin-bottom: 25px;
}

.usia{
    margin-bottom: 25px;
}

.tinggi{
    margin-bottom: 25px;
}

.submit{
    background-color: rgb(73, 128, 192);
    color: whitesmoke;
}

button{
    height: 25px;
    width: 80px;
    align-items: start;
    border: none;
    border-radius: 20%;
}

ol{
    padding-left: 7%;
    margin: 0%;
}


@media only screen and (max-width: 480px) {
    main{
        flex-direction: column;
    }
}