

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Gaya untuk elemen header */
header {
    background-color: #3159aa;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Mengatur layout utama dengan flex dan memberi ruang antara elemen */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.keunggulan{
    margin: none;
}

/* Mengatur tampilan untuk kedua sisi (kiri dan kanan) */
aside.kiri, aside.kanan {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

/* Mengatur margin untuk elemen artikel, form, dan section */
article, form, section {
    margin-bottom: 20px;
}

/* Mengatur untuk meratakan teks */
p{
    text-align: start;
}

/* Mengatur gaya form */
form{
    background-color: rgb(217, 223, 224);
    padding: 12px;
}

/* Gaya untuk input */
.isi{
    margin-top: 7px;
    height: 30px;
    width: 80%;
    border-radius: 7px;
    padding-left: 12px;
}

/* Menambahkan margin pada 4 inputan */
.Kelamin, .kg, .usia, .tinggi{
    margin-bottom: 25px;
}

/* Gaya untuk Tombol Submit*/
.submit{
    background-color: rgb(73, 128, 192);
    color: whitesmoke;
}

/* Gaya untuk semua Tombol*/
button{
    height: 35px;
    width: 100px;
    align-items: start;
    border: none;
    border-radius: 7px;
}

/*Gaya untuk tombol Reset*/
.reset{
    width: 70px;
}

/* Gaya untuk daftar berurut*/
ol{
    padding-left: 4%;
    
}

/* Gaya untuk merata tengahkan hasil penginputan*/
.hasil-penginputan{
    text-align: center;
}

.informasi-BMI{
    text-align: center;
}

/* Gaya untuk Tabel */
.tabel{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 25px;
}

/* Gaya untuk tombol */
.button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Gaya untuk Tombol Ahli Gizi*/
.ahli-gizi{
    display: inline-block;
    background-color: rgb(73, 128, 192);
    color: whitesmoke;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 75%;
    border: none;
    border-radius: 5px;
}

/* Untuk merata tengahkan tulisan pada penyakit*/
.penyakit{
    text-align: center;
    justify-content: center;
    margin: none;
}

.penyakit-kegemukan{
    text-align: center;
    justify-content: center;
    font-size: larger;
    margin: none;
}


.download{
    text-align: center;
}

/* Menyesuaikan besar logo*/
.logo-link img {
    width: 150px;
    height: 50px;
    padding: 5px;
    transition: transform 0.3s;
}

/* Memperbesar logo saat di-hover */
.logo-link img:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 480px) {
    main{
        flex-direction: column;
    }
}